// app global css in SCSS form

@import 'fonts/unbound-font.css';
@import 'fonts/inter-tight-font.css';

.box-shadow-main {
  @include box-shadow($shadow-main);
}
.q-page {
  section + section {
    margin-top: 40px;
  }
}
.main-font {
  font-family: 'Unbounded', cursive;
  font-weight: 400;
}
.text-grey-main {
  color: $grey-main;
}
.underline {
  text-decoration: underline;
}
.q-btn--round .q-btn__wrapper {
  min-width: 2.5em;
  min-height: 2.5em;
}
.hoverable {
  &:hover {
    cursor: pointer;
  }
}
.fz-18px {
  font-size: 1.125rem;
}
.secondary-font {
  font-family: 'Inter Tight', sans-serif;
}
.main-font-bold,.heading-h4{
  font-family: 'Unbounded', cursive;
  font-style: normal;
  font-weight: 600;
}
.right-icon-secondary {
  .q-icon.on-right {
    color: $secondary;
  }
}
.base-button {
  text-transform: initial;
  height: 60px;
  min-width: 190px;
  max-width: 365px;
}
.main-grey {
  color: $grey-main
}
.q-dialog__inner {
  @media (max-width: $breakpoint-xs-max) {
    padding: 0;
  }
}
.heading-h4 {
  color: $dark;
  @media (max-width: $breakpoint-xs-max) {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
  }
  font-size: 32px;
  line-height: 40px;

}
.text-body1 {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.q-flex-row-xs {
  @media (max-width: $breakpoint-xs-max) {
    display: flex;
    align-items: center;
  }
}
.q-popup-edit {
  padding: 0;
  border-radius: 20px;
}
.sms-code-input {
  .otp-input {
    background: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 50px;
    text-align: center;
    height: 50px;
    font-family: 'Inter Tight',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin-right: 8px;
  }
}
